@model  DoAnTotNghiep.Models.Tin
@using DoAnTotNghiep.Models
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="site-main-container">
    <!-- Start top-post Area -->
    <section class="top-post-area pt-10">
        <div class="container no-padding">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-nav-area">
                        <h1 class="text-white">Nội dung chi tiết</h1>
                        <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span><a href="#">@Model.LoaiTin.TenLoai</a><span class="lnr lnr-arrow-right"></span><a href="image-post.html">@Model.Quan.TenQuan </a></p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="news-tracker-wrap">
                        <h6><span>Tips:</span><a href="#">Astronomy Binoculars A Great Alternative</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End top-post Area -->
    <!-- Start latest-post Area -->
    <section class="latest-post-area pb-120">
        <div class="container no-padding">
            <div class="col-lg-12" style="background-color:white;margin-bottom:10px;padding-bottom:10px;padding-top:10px">
                <div class="news-tracker-wrap"><h4 >Title:<span style="color:crimson"> @Model.TieuDe</span></h4></div>
            </div>
            <div class="row">
                <div class="col-lg-8 post-list">
                    <div class="single-post-wrap">
                        <div class="content-wrap">
                            <a>
                                <p style="color:cornflowerblue"><span class="lnr lnr-map-marker"></span> @Model.DiaChi</p>
                            </a>
                            <ul class="meta pb-20">
                                <li><p><span class="lnr lnr-user"></span>@Model.ThanhVien.HoTen</p></li>
                                <li><p><span class="lnr lnr-calendar-full"></span>@(DateTime.Parse(Model.NgayDang.ToString()).ToShortDateString())</0></li>
                                <li><p><span class="lnr lnr-eye"></span>@Model.LuotXem Lượt xem </p></li>
                            </ul>
                            <p>Loại tin: @Model.LoaiTin.TenLoai</p>
                            <p>Diện tích: @Model.DienTich</p>
                            <p><b><u>Thông tin liên hệ:</u></b></p>
                            <p><span class="lnr lnr-phone-handset"></span> @Model.SDTLienHe</p>
                            <p><span class="lnr lnr-envelope"></span> @Model.ThanhVien.Email</p>
                            <p><u>Giá:</u><span style="color:red ; font:bold"> @(string.Format("{0:0,0}", Model.Gia))</span> Vnđ/Tháng</p>
                            <p>Đối tượng: @Model.DoiTuong</p>
                            <b><u>Mô tả chi tiết:</u></b>
                            <p>
                                @Model.MoTaChiTiet
                            </p>
                            <blockquote>Ghi chú: @*@Model.chichu*@</blockquote>
                            <p><u>Hình ảnh:</u></p>
                            <div class="col-12" style="height:900px">
                                <ul class="pgwSlider">
                                    @foreach (var a in Model.HinhAnh)
                                    {
                                        <li>
                                            <img src="~/Images/img/@a.DuongDan">
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="navigation-wrap justify-content-between d-flex">
                                <a class="prev" href="@Url.Action("Index","Home")"><span class="lnr lnr-arrow-left"></span>Trang chủ</a>
                                <a class="next" href="@Url.Action("LuuTin","Post",new { MaTin=Model.MaTin })">Lưu tin<span class="lnr lnr-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End single-post Area -->
                </div>
                @Html.Partial("_Rsidebar")
            </div>
        </div>
    </section>
    <!-- End latest-post Area -->
</div>
<script>
    $(document).ready(function () {
        $('.pgwSlider').pgwSlider();
    });
</script>

