@model List<DoAnTotNghiep.Models.Quan>
@using DoAnTotNghiep.Models
@{
    ViewBag.Title = "Quan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAD.cshtml";
    DBTro db = new DBTro();
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Loại bài viết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Simple Tables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách quận</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Tên Quận</th>
                                    <th>Số tin</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var q in Model.ToList())
                                {
                                    <tr>
                                        <td>@q.MaQuan</td>
                                        <td>@q.TenQuan</td>
                                        <td style="text-align:center">@q.Tin.Count() Tin</td>
                                        <td>
                                            @if (q.Tin.Count() == 0)
                                            {
                                                <a href="@Url.Action("DeleteQ", "QTDiaChi", new { MaQuan = q.MaQuan })">Xóa</a>
                                            }
                                            else
                                            {
                                                <strike>Xóa</strike>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-5">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm mới quận</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="/Admin/QTDiaChi/CreateQ" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên quận</label>
                                <input type="text" class="form-control" name="TenQuan" placeholder="Nhập tên Quận">
                            </div>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>

